/* Notes : if I had to do this work again,
I would use a BEM methodology to name class selectors inside the html and then organise CSS code by sections only,
with global variables for the colors 
I would use rem and media queries instead of vw sizes */ 


/*STRUCTURE FICHIER */ 
/*PREMIERE PARTIE DU CSS = SIZE AND BEHAVIOR */
/* DEUXIEME PARTIE CSS =  COULEURS, TYPOS ET POLICES */
/*TROISIEME PARTIE CODE CSS =  Breakpoint pour format téléphone */ 





/*PREMIERE PARTIE DU CSS = SIZE AND BEHAVIOR */

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

/* éléments  par ordre alpha */ 
a { 
    border-radius: 10%;
    border: none;
    color: #30646B;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    padding: 1vw;
    margin-left : 1.5vw ; 
}
html {
    width:100%; 

}
img {
    min-height:0 ;
     min-width:0 ;
     width: 100%;
     height: auto;
     padding-top : 0 ; 
     padding-bottom : 0 ;
     border : 0 ; 
}
section {
    justify-content: center;
    align-items: center;
    height: 100%;
    min-width: 150px;
}


/*class */ 
.btn {
   display : block ;
   margin-left : 1px ; 
}
.flex-container {
    display : flex ; 
    flex-wrap : wrap ;
    flex-direction: row; 
    justify-content: center;
}
.divider {
    width : 100% ; 
    height: 1vw ;
} 
.rectangle-1tiers{
    flex-basis : 38% ; 
}
.rectangle-2tiers{
    flex-basis : 60% ;
}
.section {
    margin: 0vw 3vw;
    gap: 1vw ;
}
.carre{
    max-width: 15vw;
}
.footer p {
    padding: 0vw 2vw;
    margin : 0 ; 
    color: #000000;
}
.footer img {
    width: 50px;
    aspect-ratio: 100 / 60;
    margin : 0vw 2vw;
}

/* Formats spéciaux pour objets spéciaux */ 
#autoportrait1 {
    aspect-ratio: auto 700 / 500;
}
#section1-bgimg {
    align-content: center;
 }
#section1-texte {
    justify-content: left;
}
#h1p {
    width: 100%;
}
#section2 {
    padding: 15vw ; 
}





/* spécifiques section3 */

.section3 {
    flex-basis : 80% ;
    padding-bottom: 5vw;
}
#section3 h2 {
    margin : 5vw 0vw ; 
}
.card-container {
    flex-basis : 100% ; 
}
.card {
    border-radius:10%;
    background-color : rgba(151, 131, 180, 0.05) ; 
    border-color: transparent;
    gap :  5vw ;
    margin : 1% ; 
    padding : 1.5vw ; 
    max-width: 400px;
    display : inline-block ; 
}
.dessin {
    float: right;
    width: 45%;
    padding: 2vw;
    aspect-ratio: 700/800;
}
.section3 a {
    border: #402666 solid 1px;
    background-color : rgba(151, 131, 180, 0.2) ;
    width: 20rem ; 
}
a:hover{
    background-color: #30646B ;
    color: #DEE8E3;
}





/*            spécifique section 4 = GRID */

    #section4 .btn{
        width: 30vw;
    }
    #section4 {
        display: grid ; 
        grid-template-columns: repeat(10, 1fr) ;
        grid-template-rows: repeat(10, 5vw) ;
    }

    #section4 p {
            margin: 0 ; 
            padding : 0 0 0 2vw;    
    }

    #section4 img {
        opacity: 20% ;
    }
    #S4texte {
        grid-row : 5 / 7 ; 
        grid-column : 4 / 6 ;  
    } 
    #S4img0{
        grid-row: 1 / 3 ;
        grid-column : 1 / 3 ;
    } 
    #S4img1{
        grid-row: 3 / 6 ;
        grid-column : 9 / 12 ;
    } 
    #S4img2{
        grid-row: 7 / 9 ;
        grid-column : 7 / 9 ;
    } 
    #S4img3{
        grid-row: 1 ;
        grid-column : 10 ;
    } 

    #S4img4{
        grid-row: 8 / 11 ;
        grid-column : 3 / 6 ;
    } 
    #S4img5{
        grid-row: 7  ;
        grid-column : 2  ;
    } 
    #S4img6{
        grid-row: 2;
        grid-column : 3;
    } 
    #S4img7{
        grid-row: 4 ;
        grid-column : 4 ;
    } 
    #S4img8{
        grid-row: 2  ;
        grid-column : 6 ;
    } 
    #S4img9{
        grid-row: 9 ;
        grid-column : 9 ;
    } 


/* */
/**/
/* DEUXIEME PARTIE CSS =  COULEURS, TYPOS ET POLICES */
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* éléments */ 

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 8vw;
    letter-spacing: 1vw ; 
    line-height : 10vw; 
    text-shadow: 1px 2px 5px #30646B;
    padding : 2vw ;
    padding-top : 3vw ; 
    text-transform: uppercase;
    
}
h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
    letter-spacing: 1vw ;
    text-shadow: 1px 1px 2px #30646B;
    padding : 1.5vw ;
    text-transform: uppercase;

}
p {  
    font-family: 'Oswald', sans-serif;
    color: #30646B;
    padding: 2vw;
    font-size : 1rem; 
}



/* class */ 


.divider.dark-green {
    background-color: #30646B;
    background-color: rgba(48, 100, 107, 1);
   /* background-image: radial-gradient(rgba(48, 100, 107, 0.75), transparent 16%),
    radial-gradient(rgba(151, 131, 180, 1)  transparent 10%); 
    background-size: 6px 6px ;
    background-position: 0 0, 3px 3px;*/
}

.bg-light-green {
    background-color: #DEE8E3 ;
}
.bg-light-purple {
    background-color: #D4C3D8;
}
.bg-medium-green{
    background-color: #7ED6AC;
}
.bg-medium-purple {
    background-color: #9783B4;
}
.bg-intense-green {
    background-color: #30646B ;
    background-color: rgba(48, 100, 107, 1);
}
.bg-intense-purple {
    background-color: #402666;
}



.intense-green {
    color : #30646B ;
}
.intense-purple {
    color : #402666 ; 
}
.light-green {
    color: #DEE8E3;
}
.light-purple {
    color:#D4C3D8 ;
}
.medium-green {
    color: #7ED6AC;
}
.medium-purple {
    color: #9783B4 ;
}


.medium-p {
    font-size : 1.5rem;
    padding: 0 2vw ;
    margin: 0 ; 
} 





/*TROISIEME PARTIE CODE CSS =  Breakpoint pour format téléphone */ 
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
    @media (max-width : 600px) {


        a { 
            font-size : 2.5vw ; 
        }
        h1 {
            font-size: 9vw;
            letter-spacing: 1vw ; 
            line-height : 10vw; 
        }
        h2 {
            font-size: 5vw;
            letter-spacing: 1vw ; 
            line-height : 7vw;
        }
        p {
            font-size: 3vw;
        }


        .carre {
            flex-basis : 95%;
        }
        .medium-p {
            font-size : 4vw ; 
        }
        .rectangle-1tiers {
            flex-basis : 100% ;
        }
        .rectangle-2tiers {
            flex-basis : 95% ;
        }
        .section3 {
            flex-basis : 95%
        }



/* GRID autour des boites Flexs de la section 1
    si écran = petit */

    #section1 {
        display: grid ; 
        grid-template-columns: repeat(10, 1fr) ;
        grid-template-rows: repeat(7, 1fr) ;
    }
    #section1-bgimg {
        grid-row-start: 1 ; 
        grid-column-start:1;  
        grid-row-end :8 ; 
        grid-column-end : 10 ; 
    }

    #section1-texte {
        grid-row-start: 4 ; 
        grid-column-start: 2 ;  
        grid-row-end : 8 ; 
        grid-column-end : 9 ; 
    } 

    #autoportrait1 {
        opacity: 30% ;
    }

    }