@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-dark-green: hsla(186, 38%, 20%, 1);
}

body {
  background-color: var(--color-dark-green);
}

h1 {
  @apply text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-bold text-dark-purple font-oswald;
}

.text-outline {
  text-shadow: 0px 0px 10px white;
}


@layer base {
  form, form input,  form textarea,   form select,   form label,   form button {
    @apply font-source;
  }
}



/* exemple de theme dark/light => to do later 

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
*/